:root {
  --primary: hsla(215, 50%, 20%, 1);
  --primaryHalf: hsla(215, 100%, 30%, .2);
  --titleBg: hsla(215, 50%, 30%, 1);
  --secondary: hsla(355, 78%, 56%, 1);
  --white: hsla(105, 55%, 96%, 1);
  --black: rgba(18, 18, 18, 1);
  --blackShadow: rgba(18, 18, 18, .75); }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box; }

body {
  font: 16px 'Ubuntu';
  background: var(--white);
  color: var(--black);
  padding: 25px; }

.text--bold {
  font-weight: 700;
  text-transform: uppercase; }

.results {
  display: flex;
  flex-direction: column;
  border: solid 4px var(--primary);
  box-shadow: 0 0 20px var(--blackShadow); }
  .results__title {
    padding: 12.5px;
    background: var(--primary);
    color: var(--white);
    border-bottom: solid 4px var(--primary); }
  .results__tile {
    display: grid;
    grid-template: 1fr / 44px 44px 1fr 10ch 10ch 10ch;
    grid-gap: 6.25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: solid 2px var(--primary); }
    .results__tile--active {
      background: var(--titleBg);
      color: var(--white); }
    .results__tile--blue {
      background: var(--titleBg);
      color: var(--white);
      border: none;
      font-weight: 700; }
      .results__tile--blue .results__place {
        background: var(--titleBg);
        color: var(--white); }
  .results__place {
    background: var(--secondary);
    color: var(--white);
    padding: 12.5px;
    font-weight: 700; }
  .results__country {
    display: flex;
    justify-content: center;
    align-items: center; }
    .results__country-flag {
      width: 36px;
      height: 27px;
      object-fit: cover;
      box-shadow: 0 0 1px var(--blackShadow); }
  .results__name {
    text-align: left; }

.last-jump {
  border: solid 4px var(--primary);
  box-shadow: 0 0 20px var(--blackShadow);
  padding: 12.5px;
  margin-bottom: 25px;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-gap: 12.5px;
  background: var(--titleBg);
  color: var(--white);
  display: none; }
  .last-jump__info {
    display: flex;
    align-items: center;
    grid-gap: 12.5px; }
  .last-jump__name {
    font-size: 22px; }
    .last-jump__name span {
      display: block; }
  .last-jump__country {
    margin: -12.5px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .last-jump__country-flag {
      width: 72px;
      height: 54px;
      object-fit: cover;
      box-shadow: 0 0 1px var(--blackShadow); }
  .last-jump__result {
    display: flex;
    justify-content: space-around;
    text-align: center; }
  .last-jump__points {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

@media screen and (max-width: 992px) {
  body {
    font: 12px 'Ubuntu';
    padding: 0; }
  .results__tile {
    grid-template: 1fr / 33px 33px 1fr 8ch 8ch 8ch;
    grid-gap: 4.16667px; }
  .results__country-flag {
    width: 28px;
    height: 21px; }
  .results__place {
    height: 100%;
    padding: 12.5px 6.25px; }
  .results__name span {
    display: block; } }
